* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: General Sans, sans-serif;
  --border--main: 0.625em;
  scrollbar-width: none;
}

html, body{
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.homepage, .project-page, .aboutPage, .contactpage {
  height: 100%;
  width: 100%;
  padding: 0 110px 0 22vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.aboutPage, .contactpage{
  padding-right: 5px;
}

.aboutPage{
  background: radial-gradient(
    ellipse at 70% 50%,
    #0938b053,
    rgba(255, 255, 255, 0) 50%
  );
}

.contactpage{
  background: radial-gradient(
    circle at 60% 50%,
    #0938b0a0,
    rgba(255, 255, 255, 0) 60%
  );
}



/* --------------- Sidebar ------------------- */

.sidebar-container {
  display: inline;
}

.sidebar-wrapper {
  height: 100vh;
  width: 22vw;
  position: fixed;
  left: 0;
  background-color: #181818;
  color: #9ba1a6;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.profile-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 5px;
}

.profile-pic {
  margin: 70px 0 10px 0;
}

.profile-pic img {
  height: 110px;
  width: 110px;
  border-radius: 50%;
}

.profile-name p{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.profile-name h4 {
  color: #f4f4f4;
  font-family: monospace;
}

.sidebar-menu-wrapper {
  padding: 5px;
  margin: 50px 0 0 0;
}

.sidebar-menu-wrapper.true{
  animation: moveFromBottom 1s ease-out;
}

.menu-item {
  display: flex;
  height: 20px;
  margin: 30px;
  cursor: pointer;
  color: #048CF8;
}

.menu-item.cv{
  padding-left: 3px;
}

.Link{
  text-decoration: none;
}

.menu-item .Link{
  color: #9ba1a6;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.mug {
  margin: 1px 10px;
}

.icon {
  margin: 3px 10px;
}


/* -------------------- Homepage ------------------*/


.header-container {
  display: inline;
  margin-right: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68vw;
  padding: 125px 0 0 55px;
  margin-bottom: 25px;
}

.headings h1 {
  color: #f4f4f4;
  font-family: monospace;
  font-size: 3.2vw;
  font-weight: 600;
  line-height: 1.1;
  animation: moveFromBottom 1s ease-out;
}

.headings p {
  color: #9ba1a6;
  font-size: 2vw;
  animation: moveFromBottom 1s ease-out;
}

.cv-link {
  color: #048CF8;
  text-decoration: none;
  animation: moveFromBottom 1s ease-out;
}

.cv-link:hover {
  color: #4AACFC;
}

.footer-link{
  color: #f4f4f4;
  text-decoration: none;
}

.card-container {
  display: grid;
  grid-template-rows: repeat(2, .2fr);
  grid-template-columns: repeat(2, .2fr);
  grid-gap: .7rem;
  margin-left: 30px;
  background: radial-gradient(
    ellipse at 50% 50%,
    #0938b0ef,
    rgba(255, 255, 255, 0) 70%
  );
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: background;
  transition: background 0.2s ease-out;
  border-radius: 0.625em;
  perspective: 1000px;
  background: radial-gradient(
      circle at 50% 150%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 80%
    ),
    radial-gradient(
      circle at 50% -45%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 80%
    ),
    radial-gradient(
      circle at var(--lightX) var(--lightY),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 70%
    ),
    radial-gradient(
      circle at 150% 50%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 40%
    ),
    radial-gradient(
      circle at -50% 50%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 40%
    );
  will-change: transform;
  transform: translateX(var(--translateX)) translateY(var(--translateY));
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
}

.card-content {
  box-shadow: 0 8px 12px rgba(28, 25, 23, 0.04),
    0 1.5px 3px rgba(28, 25, 23, 0.16), 0 0 0 1px rgba(121, 113, 107, 0.16);
  height: 99%;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.8vw;
  background-color: #181818;
  border-radius: 0.625em;
  overflow: hidden;
}

.small-grid.card-content{
  padding: 0;
}

.small-grid { grid-area: 1 / 1 / 2 / 2; }
.card3 { grid-area: 1 / 2 / 2 / 3; width: 33vw; height: 21vw; }
.card6 { grid-area: 2 / 1 / 3 / 2; }
.card7 { grid-area: 2 / 2 / 3 / 3; }

.small-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: .7rem;
  width: 33vw;
  height: 21vw;
}

.card6, .card7{
  width: 33vw;
  height: auto;
}

.card3 .card-content{
  align-items: start;
}

.card3 .card-title-big{
  font-family: General Sans, sans-serif;
  font-size: 2vw;
  margin: 0 0 20px 5px;
}

.card3 .card-title-small{
  font-size: 1vw;
  line-height: 1.5;
}

.card5 .card-title-big{
  font-family: General Sans, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  text-decoration: none;
  padding-top: 10px;
  font-size: 1.6vw;
}

.card5 .card-title-big.true{
  animation: moveFromBottom 1s ease-out;
}

.card5 .card-content {
  background: linear-gradient(315deg, #2346A0 3%, #181818 30%);
  transition: background 0.5s ease-in-out; 
  box-shadow: #f4f4f4;
}

.card5 .card-content:hover {
  background: #0938b0ef;
}

.card5{
  background: rgb(255, 255, 255, 0);
}


.card3 .card-content,
.card6 .card-content,
.card7 .card-content {
  height: 99%;
  width: 99.5%;
}

.card-title-big {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  color: #f4f4f4;
  font-size: 2.8vw;
  line-height: 0.8em;
}

.card1 .card-title-big,
.card2 .card-title-big,
.card4 .card-title-big {
  font-family: General Sans, sans-serif;
}

.card-title-small {
  font-size: 1vw;
  line-height: 0.1rem;
  color: #9ba1a6;
}

.padding-part {
  width: 100%;
  padding: 1rem;
}

.projects-card-heading,
.reviews-card-heading {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews-card-heading {
  margin-bottom: 60px;
}

.tag-title {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  color: #9ba1a6;
  display: flex;
  align-items: center;
}

.tag-title.true {
  animation: moveFromBottom 1s ease-out;
}

.projects-card-title,
.reviews-card-title {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  color: #f4f4f4;
  font-size: 1.5vw;
}

.icon-embed-xsmall {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.circle-60-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2vw;
  height: 2vw;
  padding: 0 1px 2px 0;
  border-radius: 50%;
  border: #9ba1a6 solid 1px;
  color: #f4f4f4;
  transition: transform 0.3s ease;
}

.circle-60-arrow svg{
  height: 1.5vw;
  width: auto;
}

.card-content:hover .circle-60-arrow svg {
  transform: rotate(35deg); 
}


/*------------Project Page------------ */

.noProjects{
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f4f4f4;
  font-size: 2vw;
  padding: 40px 0;
}

.noProjects a{
  text-decoration: none;
}

.projectpage-card-container{
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  color: #ffffff; 
}

.tag-title {
  
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  display: flex;
  align-items: center;
}

.tag-flex {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 10px;
}


.tag-item-wrapper {
  background-color: #444; 
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  color: #9ba1a6;
  font-weight: 100;
  font-size: 1vw;
}


.projects-page-heading{ 
  margin: 60px 0 20px 40px;
  color: #f4f4f4; 
  font-size: 3.3rem; 
  font-weight: 600;
  position: relative;
  animation: moveFromBottom 1s ease-out;
}

@keyframes moveFromBottom {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.project-img-wrap {
  overflow: hidden;
  border-radius: 0.625em;
  width: 91%;
}

.image-mochkup-project {
  width: 100%;
  height: 100%;
  display: block;
}




/* ------------------ About page ---------------- */



.timeline-wrapper{
  margin-top: 2rem;
  padding: 0 2vw;
  width: 100%;
  position: relative;
}

.timeline-graph{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.timeline-heading{
  display: flex;
  align-items: center;
  color: #f4f4f4;
  font-size: 3.5vw;
  margin-bottom: 30px;
  animation: moveFromBottom 1s ease-out;
}

.timeline-heading img{
  color: #f4f4f4;
  width: 1.5vw;
}

.timeline-card-container{
  color: #f4f4f4;
  width: 90%;
  position: relative;
}

.timeline-card{
  height: 100%;
  position: relative;
  padding: 1vw 1vw;
}

.timeline-card.left{
  left: -50%;
}

.timeline-card.right{
  left: 50%;
}

.timeline-card-content{
  text-align: center;
  height: 92%;
  padding: 4vh 3vh;
  border-radius: .625rem;
  background-color: #181818;
  overflow: hidden;
}

.timeline-card-content h3{
  font-size: 1.5vw;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  margin-bottom: 12px;
  animation: moveFromBottom 1s ease-out;
}

.timeline-card-content h4{
  font-size: 1.4vw;
  color: #9ba1a6;
  font-weight: 400;
  font-family: Satoshi-Variable, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Co;
  animation: moveFromBottom 1s ease-out;
}

.tail{
  border: 0 solid #e5e7eb;
  top: 2vw;
  opacity: .5;
  position: absolute;
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
  background-color: #0938b0ef;
}

.dot{
  background-color: #212a41ef;
  opacity: .8;
  border: 0 solid #e5e7eb;
  top: 1.7vw;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: calc(50% - 6px);
}

.last-dot{
  background-color: #0938b0;
  opacity: .8;
  width: 12px;
  height: 12px;
  left: calc(50% - 6px);
}

.anime{
  animation: anime 1s cubic-bezier(0,0,.2,1) infinite;
}

@keyframes anime {
  0% {
transform: scale(1);
opacity: 1;
}
75%, 100% {
transform: scale(1.5);
opacity: 0;
}
}

.discription-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.discription-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  will-change: background;
  transition: background 0.2s ease-out;
  border-radius: 0.625em;
  perspective: 1000px;
  background: radial-gradient(
      circle at 50% 150%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 80%
    ),
    radial-gradient(
      circle at 50% -45%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 80%
    ),
    radial-gradient(
      circle at var(--lightX) var(--lightY),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 70%
    ),
    radial-gradient(
      circle at 150% 50%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 40%
    ),
    radial-gradient(
      circle at -50% 50%,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0) 40%
    );
  will-change: transform;
  transform: translateX(var(--translateX)) translateY(var(--translateY));
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
}

.discription-content{
  box-shadow: 0 8px 12px rgba(28, 25, 23, 0.04),
    0 1.5px 3px rgba(28, 25, 23, 0.16), 0 0 0 1px rgba(121, 113, 107, 0.16);
  height: 99%;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 4.5vw;
  background-color: #181818;
  border-radius: 0.625em;
  overflow: hidden;
}

.discription-heading,
.techs-heading{
  color: #f4f4f4;
  font-size: 3.5vw;
  margin: 30px 30px 12px;
  animation: moveFromBottom 1s ease-out;
}

.aboutPage-greeting{
  margin-bottom: 20px;
  font-size: 2vw;
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
  color: #e5e7eb;
  font-weight: 100;
}

.discription-content p{
  margin-left: 30px;
  font-size: 1.4vw;
  color: #9ba1a6;
  font-weight: 400;
  font-family: Satoshi-Variable, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Co;
  animation: pushReleaseFromRight 1s ease-in-out;
}

@keyframes pushReleaseFromRight {
  from { transform: translateX(100%) }
}


.techs-wrapper{
  margin: 20px 0 40px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  width: 100%;
}

.techs-icons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.tech-icon{
  height: 76px;
  width: 76px;
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 16, 16);
  border: solid;
  border-color: #444;
  border-width: 4px;
  border-radius: 16px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
  --iconName: "React";
  --beforeColor: "";
}


.tech-icon1 svg{
  color: rgb(0, 229, 255);
}
.tech-icon2 svg{
  color: rgb(203 213 225);
}
.tech-icon3 svg{
  color: rgb(168 162 158);
}
.tech-icon4 svg{
  color: rgb(74 222 12);
}
.tech-icon5 svg{
  color: rgb(74 222 128);
}

.tech-icon:hover{
  transform: scale(1.2)
}

.tech-icon:hover::before{
  content: var(--iconName);
  padding-top: 3px;
  text-align: center;
  color: var(--beforeColor);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  position: absolute;
  top: -50px;
  width: 80px;
  height: 30px;
}

.tech-icon1:hover{
  background-color: rgb(165, 243, 252);
}

.tech-icon2:hover{
  background-color:  rgb(100 116 139 );
}
.tech-icon3:hover{
  background-color: rgb(229 231 235);
}
.tech-icon4:hover{
  background-color: rgb(5 46 22 );
}
.tech-icon5:hover{
  background-color: rgb(187 247 208 );
}
.tech-icon6:hover{
  background-color: #5CCBFF;
}


/* -------------------- Contact Page ----------------- */

.contactForm-wrapper{
  width: 100%;
  min-height: 100vh;
  padding: 70px 0 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container{
  color: #9ba1a6;
  width: 70%;
  position: relative;
}

.form-container hr{
  color: #9ba1a683;
  margin: 15px 0;
}

.form-container h2{
  color: #f4f4f4;
  font-size: 3.4vw;
  animation: moveFromBottom 1s ease-out;
  font-family: "General Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.form-container p{
  margin-bottom: 30px;
  color: #f4f4f4;
}

.contact-form p{
  color: #f4f4f4;
  margin: 30px 0 10px;
}


.form-group{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group input,
.form-group textarea {
  width: 49.5%;
  padding: 10px 15px;
  color: #ededed;
  background: none;
  outline: none;
  border: none;
  border-bottom: .0625em solid #fff3;
  border-radius: 8px;
}

.form-group input:focus,
.form-group textarea:focus{
  border-bottom: .0625em solid #048CF8;
}

.form-group textarea {
  width: 100%;
  padding: 30px 15px 0;
}

.contactForm-submit-btn,
.openChat-btn,
.thanks-response {
  color: #ededed;
  background-color: #1c1c1c8d;
  border: .0625em solid #ffffff14;
  border-radius: .375em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.5vh;
  margin: 25px 0 60px;
  margin-right: 0;
  margin-left: auto;
  padding: 18px 60px;
  transition: background-color .1s;
  box-shadow: 2px 0 .125rem -.09375rem #0003;
}

.openChat-btn {
  width: 100%;
  background-color: #1c1c1c8d;
}

.thanks-response{
  height: 15vh;
}

.contactForm-submit-btn:hover{
  background-color: #35333399;
  border-color: #f4f4f457;
}

.openChat-btn:hover{
  background-color: #3533337d;
  border-color: #f4f4f457;
}


/*---------------------- chatbot ------------------------ */

.chatbot-wrapper{
  width: 23vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 1;
}

.chatbot {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chatbot-toggle-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5vw;
  width: 4.5vw;
  margin: 8px 0 0 auto;
  border-radius: 50%;
  border: none;
  color: #fff;
  transition: transform .1s ease-in-out;
  background: linear-gradient(45deg, #0938b0ef, rgba(45, 45, 45, 0) );
}

.chatbot-toggle-btn:hover{
  transform: scale(1.1);
}

.disable{
  display: none;
}

.chat-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  position: relative;
}

.chat-body {
  min-height: 23vw;
  max-height: 23vw;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5%;
  padding: 5% 5% 5% 15%;
  /* scroll-behavior: smooth; */
  overflow-y: auto;
}


.chat-header {
  background: linear-gradient(20deg, black, #0938b0ef );
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.agent-info {
  display: flex;
  align-items: center;
}

.agent-avatar {
  width: 3.3vw;
  height: 3.3vw;
  border: 3px solid #f4f4f4;
  border-radius: 50%;
  margin-right: 10px;
}

.agent-details {
  display: flex;
  flex-direction: column;
}

.agent-name{
  font-size: 1.7vw;
}

.return-time {
  font-size: 12px;
}

.agent-message,
.user-message,
.bot-response {
  display: flex;
  flex-direction: column;
  background-color: rgb(217, 232, 248);
  border-radius: 0 10px 10px 10px;
  max-width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
}

.emailSubmited{
  display: flex;
  flex-direction: column;
}

.agent-message p,
.user-message p,
.bot-response p,
.emailSubmited p{
  margin: 0;
  font-size: .9vw;
}

.chat-input{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.7vw;
  padding: 0 3px 0 0;
  background-color: #fff;
  border: 1px solid rgb(171, 196, 222);
}

.chat-input:has(input:focus){
  border-radius: 5px;
  border: 1px solid #048CF8;
}

.chat-input input{
  width: 100%;
  padding: 0 5px;
  font-size: 1.1vw;
  outline: none;
  border: none;
  background: none;
}

.chat-input input::placeholder,
.chat-footer input::placeholder{
  color: rgb(171, 196, 222);
}

.chat-input button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(217, 232, 248);
  height: 80%;
  width: 15%;
  border: none;
}

.chat-input input:valid:not(:placeholder-shown) ~.msg-btn {
  background-color: #048CF8;
}

.chat-input button:disabled{
  cursor: not-allowed;
}

.chat-input button svg{
  fill: #fff;
}

.user-message {
  align-self: flex-end;
  background-color: #bde0ff;
}

.timestamp {
  font-size: 10px;
  color: #999;
  margin-top: 2px;
  margin-right: 0;
  margin-left: auto;
  display: inline;
}

.chat-footer {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #ccc;
}

.chat-footer input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  resize: none;
}

.chat-footer-btn{
  width: 10%;
  height: 100%;
  background: none;
  color: rgb(217, 232, 248);
  cursor: not-allowed;
  border: none;
}

.chat-footer input:not(:placeholder-shown) +.chat-footer-btn{
  color: #048CF8;
}




/* -------------Navbar---------------- */

.navbar-wrapper{
  display: none;
  align-items: center;
  flex-direction: column;
  position: fixed;
  right: 0;
  color: #048CF8;
  background: none;
  z-index: 1;
}

.navbar-container{
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px 20px 20px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo span{
  font-size: 7vw;
  font-weight: 700;
}


.navbar-container svg{
  color: #048CF8;
  cursor: pointer;
  z-index: 1;
}

.menu-x-icon{
  width: 20px;
  height: 20px;
  color: #f4f4f4;
  cursor: pointer;
}


/*---------------------footer------------------- */

.footer {
  overflow-y: hidden;
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: .8em;
  margin: 2em 0 0;
  position: relative;
  bottom: 0px;
  background-color: #181818;
}

.footer_menu{
  display: flex;
  justify-content: space-between;
}

.footer-menu-item-wrapper {
  margin: 0 20px;
  overflow: hidden;
}

.footer-menu-text {
  font-size: 1.3vw;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  position: relative;
}

.footer-menu-text::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 2px;
  width: 100%;
  height: 0.5px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.footer-menu-text:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


.footer-rights{
  margin: 10px 0 0 0;
  color: #9ba1a6;
}





@keyframes navbar-open {
  from{
    transform: translateX(285px);
  }
  to{
    transform: translateX(0);
  }
}

@keyframes navbar-close {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(285px);
  }
}

@keyframes icon-rotation {
  from{rotate: -90deg;}
  to{rotate: 0deg;}
}

@keyframes icon-transformation {
  from{transform: scale(0);}
  to{transform: scale(1);}
}

@keyframes chatbot-animation-out {
  0% {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(0);
    transform-origin: 100% 100%;
  }
}

@keyframes chatbot-animation-in {
  0% {
    transform: scale(0);
    transform-origin: 100% 100%;
  }
  100% {
    transform: scale(1);
    transform-origin: 100% 100%;
  }
}






/* ------------- Responsive ---------------- */


/* -------------Ipad------------ */
@media (max-width: 1030px) and (height > 1000px){
  .header-wrapper{
    margin-top: 25%;
  }
  
  .sidebar-wrapper{
    padding-top: 20%;
  }

  .card-container{
    margin-bottom: 50%;
  }

  .chatbot-wrapper{
    bottom: 25%;
  }

  .chatbot-toggle-btn{
    height: 7vw;
    width: 7vw;
  }

}

@media (width < 840px) and (height > 1000px) {
  .header-wrapper{
    margin-top: 25%;
  }
  
  .sidebar-wrapper{
    padding-top: 20%;
  }
  
  .card-container{
    margin-bottom: 60%;
  }
  .chatbot-wrapper{
    bottom: 25%;
  }
  
  .chatbot-toggle-btn{
    height: 7vw;
    width: 7vw;
  }
}

@media (max-width: 800px) and (height > 1000px) {
  .header-wrapper{
    margin-top: 25%;
  }
  
  .sidebar-wrapper{
    padding-top: 20%;
  }
  
  .card-container{
    margin-bottom: 40%;
  }
  .chatbot-wrapper{
    bottom: 25%;
  }
  
  .chatbot-toggle-btn{
    height: 7vw;
    width: 7vw;
  }
}


/* -------------Desktop------------ */
@media (width < 1330px) and (height < 1000px) {
  .tag-item-wrapper{
    font-size: .9vw;
  }
}

@media (width < 1086px) and (height < 1000px) {
  .tag-item-wrapper{
    font-size: .8vw;
  }
  .chatbot-toggle-btn{
    width: 6.5vw;
    height: 6.5vw;
  }
}


@media (width < 1200px) and (height < 1000px) {
  .header-container {
    margin-bottom: 10%;
  }
  .card-container{
    margin-bottom: 10%;
  }
  
}

@media (width < 980px) and (height < 1000px) {
  .tag-item-wrapper{
    font-size: .7vw;
  }

  .discription-content p{
    font-size: 1.3vw;
  }
}


/* -------------Mobile------------ */
@media (max-width: 780px) and  (height < 940px){

  .homepage, .project-page, .aboutPage, .contactpage {
    padding: 0 10px 0 10px;
  }

  .chatbot-toggle-btn{
    height: 7vh;
    width: 7vh;
    margin: auto 0 0 auto;
  }

  .chatbot-wrapper{
    bottom: 10%;
    right: 10px;
    width: 25vh;
  }

  .chat-body{
    min-height: 32vh;
    max-height: 32vh;
    padding: 5% 5% 5% 10%;
  }

  .agent-avatar {
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    margin-right: 10px;
  }

  .agent-name{
    font-size: 1.9vh;
  }

  .return-time {
    font-size: 1.1vh;
  }

  .agent-message p,
.user-message p,
.bot-response p{
  margin: 0;
  font-size: 1.2vh;
}

  .timestamp{
    font-size: .9vh;
  }

  .chat-input{
    height: 3vh;
  }

  .chat-input input{
    font-size: 1.2vh;
  }

  .chat-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
  }

  .chat-footer input{
    height: 5vh;
  }

  .chat-footer input::placeholder{
    font-size: 1.3vh;
  }

  /*---------Navbar------- */
  .navbar-wrapper{
  display: flex;
  }

  .sidebar-wrapper{
    right: 0;
    left: auto;
    width: 28vh;
    transform: translateX(285px);
  }

  .sidebar-menu-wrapper{
    margin-top: 0;
  }

  .profile-box-wrapper{
    margin-top: 10px;
  }

  /*---------- Homepage---------- */

  .header-container{
    margin: 0;
  }

  .header-wrapper{
    margin: 0;
    width: auto;
    padding: 120px 5px 0 30px;
  }

  .headings h1{
    font-size: 3.7vh;
  }

  .headings p{
    font-size: 3vh;
  }

  .cv-link{
    display: none;
  }

  .small-grid { grid-area: 1 / 1 / 2 / 2; width: 100%; height: auto;}
  .card3 { grid-area: 2 / 1 / 3 / 2; width: 100%; height: auto;}
  .card6 { grid-area: 3 / 1 / 4 / 2; width: 100%; height: auto;}
  .card7 { grid-area: 4 / 1 / 5 / 2; width: 100%; height: auto;}
  
  .card-container{
    grid-template-columns: 1fr;
    margin: 25px;
  }

  .card3 .card-content{
    align-items: center;
  }
  .card3 .card-title-big{
    font-size: 3vh;
  }

  .card3 .card-title-small{
    font-size: 1.7vh;
  }

  .card-content{
    padding: 2vh;
  }

  .card-title-big{
    margin-top: 10px;
    font-size: 4vh;
  }

  .card-title-small{
    margin-bottom: 10px;
    font-size: 1.8vh;
    line-height: 1;
  }

  .card5 .card-content{
    padding: 1vh;
  }
  .card5 .card-title-big{
    flex-direction: column;
    font-size: 3vh;
    gap: 10px;
    margin-bottom: 5px;
    padding: 0;
  }

  .circle-60-arrow{
    width: 3vh;
    height: auto;
    border: #9ba1a6 solid 2px;
  }
  
  .circle-60-arrow svg{
    height: 2.5vh;
  }

  .reviews-card-heading {
    margin-bottom: 0;
}

/*---------- Projectpage---------- */

.noProjects{
  font-size: 2vh;
}
  
  .projects-page-heading{
    font-size: 6vh;
    margin: 40% 0 0;
  }

  .projects-card-title, .reviews-card-title{
    font-size: 2.4vh;
  }

  .tag-flex{
    gap: .5vh;
  }

  .tag-item-wrapper{
    font-size: 1.3vh;
  }

  /*---------- Contactpage---------- */

  .form-container h2 {
    font-size: 4vh;
  }
  
  .form-container p {
    font-size: 2vh;
  }

  /*---------- Aboutpage---------- */

  .discription-container{
    width: 85vw;
  }
  .discription-content{
    padding: 2vw 3.5vw;
  }

  .discription-heading{
    margin: 80px 0 10px;
  }

  .discription-heading,
  .timeline-heading, h1{
    display: unset;
    font-size: 7vw;
  }

  .aboutPage-greeting{
    margin-bottom: auto;
    font-size: 4vw;
  }

  .discription-wrapper p{
    text-align: justify;
    font-size: 2.5vw;
    margin: auto;
  }

  .timeline-wrapper{
    text-align: center;
    width: 50vw;
  }

  .timeline-card.left{
    left: -55%;
  }
  
  .timeline-card.right{
    left: 55%;
  }

  .timeline-card-content h3{
    font-size: 3.5vw;
  }

  .timeline-card-content h4{
    font-size: 2vw;
  }

  .techs-wrapper{
    align-items: center;
  }

  .techs-heading{
    margin: 0 0 12px;
    text-align: center;
  }

  .techs-icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    width: 60vw;
  }

  .tech-icon{
    height: auto;
    width: auto;
  }

  .tech-icon1 { grid-area: 1 / 1 / 2 / 2; }
  .tech-icon2 { grid-area: 1 / 2 / 2 / 3; }
  .tech-icon3 { grid-area: 1 / 3 / 2 / 4; }
  .tech-icon4 { grid-area: 2 / 1 / 3 / 2; }
  .tech-icon5 { grid-area: 2 / 2 / 3 / 3; }
  .tech-icon6 { grid-area: 2 / 3 / 3 / 4; }
  
  
  /*---------- Footer---------- */
  
  
  .footer-menu-text {
    font-size: 1.7vh;
  }
  
  .footer-rights{
    font-size: 1.4vh;
  }
}
